.logoPanel {
    width: 35%; 
}

/* Login Form Panel (คอลัมน์ขวา) */
.loginFormPanel {
    padding: 40px 50px;
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* กล่องหลัก 2 คอลัมน์ */
.authContainer {
  display: flex;
  flex-direction: row;
  max-width: 900px; 
  width: 300%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  overflow: hidden; 
}

/* คอลัมน์ซ้าย (Logo Panel) */
.logoPanel {
  flex-basis: 50%;
  background-color: #f7f3e8; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  border: 10px solid #ffffff; 
  box-sizing: border-box; 
  border-radius: 10px 0 0 10px; 
  align-self: center; 
}

.authLogo {
  max-width: 150px; 
  height: auto;
}

.logoText {
  font-size: 2.5rem;
  font-weight: 900;
  color: #333;
  margin-top: 20px;
}

/* คอลัมน์ขวา (Form Panel) */
.formPanel {
  flex-basis: 50%;
  background-color: #E8E8E8; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}